In [3]:
import pandas as pd
import nltk
import re
import utilities as u
import numpy as np
import sklearn
from sklearn.model_selection import train_test_split
import collections
from gensim.models import KeyedVectors
EMBEDDING_FILE = '../GoogleNews-vectors-negative300.bin.gz'
model = KeyedVectors.load_word2vec_format(EMBEDDING_FILE, binary=True)

In [4]:
train_df = pd.read_csv("../train.csv")
test_df = pd.read_csv("../test.csv")

/Users/jac812i/virtualenvs/quoravenv/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [5]:
train_df.head(5)

,id,qid1,qid2,question1,question2,is_duplicate
0,0,1,2,What is the step by step guide to invest in sh...,What is the step by step guide to invest in sh...,0
1,1,3,4,What is the story of Kohinoor (Koh-i-Noor) Dia...,What would happen if the Indian government sto...,0
2,2,5,6,How can I increase the speed of my internet co...,How can Internet speed be increased by hacking...,0
3,3,7,8,Why am I mentally very lonely? How can I solve...,Find the remainder when [math]23^{24}[/math] i...,0
4,4,9,10,"Which one dissolve in water quikly sugar, salt...",Which fish would survive in salt water?,0

In [6]:
test_df.head(5)

,test_id,question1,question2
0,0,How does the Surface Pro himself 4 compare wit...,Why did Microsoft choose core m3 and not core ...
1,1,Should I have a hair transplant at age 24? How...,How much cost does hair transplant require?
2,2,What but is the best way to send money from Ch...,What you send money to China?
3,3,Which food not emulsifiers?,What foods fibre?
4,4,"How ""aberystwyth"" start reading?",How their can I start reading?

# Identify Feature and Target columns

In [7]:
# Extract feature (X) and target (y) columns
feature_cols = list(train_df.columns[:-1])
target_col = train_df.columns[-1]
print ("Feature Columns {}".format(feature_cols))
print ("Target Columns {}".format(target_col))
X_all = train_df[feature_cols]
y_all = pd.DataFrame(data=train_df[target_col], columns=[target_col])

Feature Columns ['id', 'qid1', 'qid2', 'question1', 'question2']
Target Columns is_duplicate

In [8]:
collections.Counter(y_all['is_duplicate'])

Counter({0: 255027, 1: 149263})

In [9]:
y_all.head(7)

   is_duplicate
0             0
1             0
2             0
3             0
4             0
5             1
6             0

In [10]:
X_all.head(3)

,id,qid1,qid2,question1,question2
0,0,1,2,What is the step by step guide to invest in sh...,What is the step by step guide to invest in sh...
1,1,3,4,What is the story of Kohinoor (Koh-i-Noor) Dia...,What would happen if the Indian government sto...
2,2,5,6,How can I increase the speed of my internet co...,How can Internet speed be increased by hacking...

# Split data in training and validation sets

# check whether data is balanced or not

In [11]:

X_train, X_valid, y_train, y_valid = train_test_split(X_all, y_all, test_size=0.30, random_state=42)
print ("Total data set: {} samples".format(X_all.shape[0]))
print ("Training set: {} samples".format(X_train.shape[0]))
print ("Valid set: {} samples".format(X_valid.shape[0]))

Total data set: 404290 samples
Training set: 283003 samples
Valid set: 121287 samples

In [12]:
collections.Counter(y_train['is_duplicate'])

Counter({0: 178677, 1: 104326})

In [13]:
collections.Counter(y_valid['is_duplicate'])

Counter({0: 76350, 1: 44937})

In [14]:
X_valid.head(5)

,id,qid1,qid2,question1,question2
8067,8067,15738,15739,How do I play Pokémon GO in Korea?,How do I play Pokémon GO in China?
368101,368101,12736,104117,What are some of the best side dishes for crab...,What are some good side dishes for buffalo chi...
70497,70497,121486,121487,Which is more advisable and better material fo...,What is the best server setup for buddypress?
226567,226567,254474,258192,How do I improve logical programming skills?,How can I improve my logical skills for progra...
73186,73186,48103,3062,How close we are to see 3rd world war?,How close is a World War III?

In [15]:
y_valid.head(5)

        is_duplicate
8067               0
368101             0
70497              0
226567             1
73186              1

# Data Preprocessing

In [16]:
def create_vocabulary(words_list,df,column_name):
    for sentence in df[column_name]:
        for word in sentence:
            words_list.append(word)
    return words_list

In [17]:
def preprocess_baseline_text(text):
    text = str(text)
    text = text.lower()
    text = text.split()
    
    return text

In [18]:
preprocess_baseline_text('How do I play Pokémon GO in Korea?')

['how', 'do', 'i', 'play', 'pokémon', 'go', 'in', 'korea?']

In [21]:
X_train_subset_df['question1'] = X_train['question1'][0:10]

In [22]:
X_train_subset_df

20128        How is the working environment at SBI Life, Mu...
296237                    How can a US citizen work in Canada?
107095       What are the benefits of washing your hands wi...
27940        How do the holy scriptures of Hinduism compare...
251434       Is the humanoid shape inevitable for any speci...
111381          How do I stop feeling sleepy in the workplace?
403957                     Which phone should I buy under 15k?
101177       Should I choose MFC Delhi or make another atte...
78010                                  Do we really need love?
57348        Frequently asked interview questions on streng...
question1    20128     How is the working environment at SB...
Name: question1, dtype: object

In [24]:
X_train_subset_df_1 = pd.DataFrame()

In [25]:
X_train_subset_df_1['question1'] = X_train_subset_df['question1'].apply(lambda x:preprocess_baseline_text(x))

In [26]:
X_train_subset_df_1['question1']

20128     [how, is, the, working, environment, at, sbi, ...
296237        [how, can, a, us, citizen, work, in, canada?]
107095    [what, are, the, benefits, of, washing, your, ...
27940     [how, do, the, holy, scriptures, of, hinduism,...
251434    [is, the, humanoid, shape, inevitable, for, an...
111381    [how, do, i, stop, feeling, sleepy, in, the, w...
403957          [which, phone, should, i, buy, under, 15k?]
101177    [should, i, choose, mfc, delhi, or, make, anot...
78010                         [do, we, really, need, love?]
57348     [frequently, asked, interview, questions, on, ...
Name: question1, dtype: object

In [28]:
X_all_1 = pd.DataFrame()
test_df_1 = pd.DataFrame()

In [29]:
X_all_1['question1'] = X_all['question1'].apply(lambda x:preprocess_baseline_text(x))
X_all_1['question2'] = X_all['question2'].apply(lambda x:preprocess_baseline_text(x))
test_df_1['question1'] = test_df['question1'].apply(lambda x:preprocess_baseline_text(x))
test_df_1['question2'] = test_df['question2'].apply(lambda x:preprocess_baseline_text(x))

In [30]:
X_all_1.head(5)

,question1,question2
0,"[what, is, the, step, by, step, guide, to, inv...","[what, is, the, step, by, step, guide, to, inv..."
1,"[what, is, the, story, of, kohinoor, (koh-i-no...","[what, would, happen, if, the, indian, governm..."
2,"[how, can, i, increase, the, speed, of, my, in...","[how, can, internet, speed, be, increased, by,..."
3,"[why, am, i, mentally, very, lonely?, how, can...","[find, the, remainder, when, [math]23^{24}[/ma..."
4,"[which, one, dissolve, in, water, quikly, suga...","[which, fish, would, survive, in, salt, water?]"

In [31]:
test_df_1.head(5)

,question1,question2
0,"[how, does, the, surface, pro, himself, 4, com...","[why, did, microsoft, choose, core, m3, and, n..."
1,"[should, i, have, a, hair, transplant, at, age...","[how, much, cost, does, hair, transplant, requ..."
2,"[what, but, is, the, best, way, to, send, mone...","[what, you, send, money, to, china?]"
3,"[which, food, not, emulsifiers?]","[what, foods, fibre?]"
4,"[how, ""aberystwyth"", start, reading?]","[how, their, can, i, start, reading?]"

In [32]:
words_list = create_vocabulary([],X_all_1,'question1')
print ("Lenght of words in X_all question 1 {}".format(len(words_list)))
words_list = create_vocabulary(words_list,X_all_1,'question2')
print ("Lenght of words after adding X_all question 2 {}".format(len(words_list)))
words_list = create_vocabulary(words_list,test_df_1,'question1')
print ("Lenght of words after adding test_df question 1 {}".format(len(words_list)))
words_list = create_vocabulary(words_list,test_df_1,'question2')
print ("Lenght of words after adding test_df question 2 {}".format(len(words_list)))

Lenght of words in X_all question 1 4423826
Lenght of words after adding X_all question 2 8944593
Lenght of words after adding test_df question 1 48146246
Lenght of words after adding test_df question 2 87470531

In [33]:
print (len(set(words_list)))
print (words_list[0:10])
words_freq = collections.Counter(words_list)
words_freq.most_common(10)
words_freq_10000 = words_freq.most_common(10000)


word_in_word2vec = []
word_notin_word2vec = []

for word in words_freq.most_common(10000):
    if word[0] in model.vocab:
        word_in_word2vec.append(word[0])
    else:
        word_notin_word2vec.append(word[0])
        
print (len(word_in_word2vec))
print (len(word_notin_word2vec))

327522
['what', 'is', 'the', 'step', 'by', 'step', 'guide', 'to', 'invest', 'in']
6614
3386

In [34]:
print (words_freq_10000[0:100])

[('the', 3398855), ('what', 2980203), ('is', 2573361), ('how', 2090590), ('i', 2060339), ('a', 2028806), ('in', 1944305), ('to', 1898636), ('of', 1467452), ('do', 1374660), ('are', 1294421), ('and', 1223643), ('can', 1072247), ('for', 1012448), ('why', 707330), ('you', 699351), ('my', 666512), ('best', 632025), ('it', 581168), ('on', 547035), ('does', 521099), ('which', 466737), ('or', 461708), ('if', 408308), ('get', 386807), ('with', 384513), ('be', 375348), ('should', 372922), ('an', 362490), ('have', 361547), ('that', 357477), ('some', 351606), ('from', 325810), ('your', 272379), ('when', 258746), ('will', 250735), ('who', 247316), ('at', 246414), ('good', 233478), ('like', 223882), ('there', 214642), ('people', 212807), ('as', 210562), ('would', 208053), ('between', 196776), ('where', 190411), ('one', 181467), ('about', 178274), ('most', 171376), ('way', 167888), ('make', 167313), ('any', 165852), ('not', 161751), ('we', 159834), ('by', 155638), ('india?', 155451), ('after', 148930), ('did', 148650), ('was', 148272), ('am', 138205), ('difference', 136870), ('they', 134790), ('has', 126469), ('much', 126192), ("what's", 125564), ('so', 124523), ('learn', 121898), ('use', 120767), ('know', 116628), ('this', 116478), ('me', 115295), ('their', 115284), ('many', 112912), ('than', 110061), ('find', 107829), ('time', 107074), ('india', 106549), ('more', 102588), ('but', 102314), ('money', 102062), ('someone', 100078), ('all', 99907), ('without', 97196), ('indian', 96303), ('other', 95886), ('new', 95702), ('want', 95235), ('become', 91086), ('think', 90352), ('better', 85382), ('first', 84387), ('start', 84243), ('ever', 82374), ('into', 82279), ('quora', 79965), ('take', 77569), ('out', 76810), ("don't", 73582), ('feel', 72579), ('he', 72556)]

In [35]:
print (word_notin_word2vec[0:100])

['a', 'to', 'of', 'and', 'india?', 'quora', 'quora?', 'why?', 'life?', 'it?', "i'm", 'do?', 'time?', 'me?', 'english?', '2016?', 'mean?', 'online?', 'work?', '?', '10', 'instagram', 'you?', '2016', 'world?', '500', 'them?', 'engineering?', '1000', 'weight?', 'money?', 'account?', 'like?', 'whatsapp', 'not?', 'exam?', 'for?', 'language?', 'possible?', 'this?', 'sentence?', 'people?', 'day?', 'phone?', '-', 'number?', 'us?', 'sydney?', 'skills?', 'now?', 'country?', 'sex?', 'so,', 'instagram?', 'system?', 'facebook?', 'in?', 'free?', 'university?', 'job?', 'business?', 'movies?', 'bangalore?', 'year?', 'from?', 'person?', 'love?', 'about?', '2017?', 'college?', 'company?', 'water?', 'u.s.', 'programming?', 'companies?', 'exist?', 'app?', 'china?', 'fat?', 'card?', 'website?', 'years?', 'youtube?', 'how?', 'delhi?', 'one?', 'have?', 'science?', '/', 'girl?', "someone's", 'usa?', '12', 'be?', 'school?', "i've", 'jio', 'interview?', 'snapchat', 'month?']

In [36]:
print (word_in_word2vec[0:100])

['the', 'what', 'is', 'how', 'i', 'in', 'do', 'are', 'can', 'for', 'why', 'you', 'my', 'best', 'it', 'on', 'does', 'which', 'or', 'if', 'get', 'with', 'be', 'should', 'an', 'have', 'that', 'some', 'from', 'your', 'when', 'will', 'who', 'at', 'good', 'like', 'there', 'people', 'as', 'would', 'between', 'where', 'one', 'about', 'most', 'way', 'make', 'any', 'not', 'we', 'by', 'after', 'did', 'was', 'am', 'difference', 'they', 'has', 'much', "what's", 'so', 'learn', 'use', 'know', 'this', 'me', 'their', 'many', 'than', 'find', 'time', 'india', 'more', 'but', 'money', 'someone', 'all', 'without', 'indian', 'other', 'new', 'want', 'become', 'think', 'better', 'first', 'start', 'ever', 'into', 'take', 'out', "don't", 'feel', 'he', 'used', 'could', 'life', 'improve', 'possible', 'english']

# Further Preprocessing Text

In [69]:
def preprocess_text(text):
    text = str(text)
    text = text.lower()
    
    text = re.sub(r"[^A-Za-z0-9^?,!.\/'+-=]", " ", text)
    text = re.sub(r"\.", " ", text)
    text = re.sub(r"\'s", " ", text)
    text = re.sub(r"\'ve", " have ", text)
    text = re.sub(r"i'm", "i am ", text)
    text = re.sub(r"\?", " ", text)
    text = re.sub(r",", " ", text)
    text = re.sub(r"!", " ! ", text)
    text = re.sub(r"\/", " ", text)
    text = re.sub(r"\+", " + ", text)
    text = re.sub(r"\-", " - ", text)
    text = re.sub(r"\=", " = ", text)
    
    text = text.split()
    
    return text

In [70]:
X_train.reset_index(drop = True, inplace = True)
X_valid.reset_index(drop = True, inplace = True)
y_train.reset_index(drop = True, inplace = True)
y_valid.reset_index(drop = True, inplace = True)

X_train_df = pd.DataFrame()
X_valid_df = pd.DataFrame()
X_test_df = pd.DataFrame()

In [71]:
X_train.head(3)

,id,qid1,qid2,question1,question2
0,20128,37998,37999,"How is the working environment at SBI Life, Mu...",How stressful is work of SBI clerk?
1,296237,418414,31812,How can a US citizen work in Canada?,Will a US graduate degree help a non-US citize...
2,107095,176273,176274,What are the benefits of washing your hands wi...,Why is it important to wash your hands with soap?

In [72]:
test_df.head(3)

,test_id,question1,question2
0,0,How does the Surface Pro himself 4 compare wit...,Why did Microsoft choose core m3 and not core ...
1,1,Should I have a hair transplant at age 24? How...,How much cost does hair transplant require?
2,2,What but is the best way to send money from Ch...,What you send money to China?

In [73]:
preprocess_text('What is= the step by step guide to invest in?')

['what', 'is', '=', 'the', 'step', 'by', 'step', 'guide', 'to', 'invest', 'in']

In [74]:
X_train_df['question1'] = X_train['question1'].apply(lambda x:preprocess_text(x))
X_train_df['question2'] = X_train['question2'].apply(lambda x:preprocess_text(x))
X_valid_df['question1'] = X_valid['question1'].apply(lambda x:preprocess_text(x))
X_valid_df['question2'] = X_valid['question2'].apply(lambda x:preprocess_text(x))
X_test_df['question1'] = test_df['question1'].apply(lambda x:preprocess_text(x))
X_test_df['question2'] = test_df['question2'].apply(lambda x:preprocess_text(x))

In [75]:
X_train_df.head(3)

,question1,question2
0,"[how, is, the, working, environment, at, sbi, ...","[how, stressful, is, work, of, sbi, clerk]"
1,"[how, can, a, us, citizen, work, in, canada]","[will, a, us, graduate, degree, help, a, non, ..."
2,"[what, are, the, benefits, of, washing, your, ...","[why, is, it, important, to, wash, your, hands..."

In [76]:
words_list = create_vocabulary([],X_train_df,'question1')
print ("Lenght of words in X_train_df question 1 {}".format(len(words_list)))
words_list = create_vocabulary(words_list,X_train_df,'question2')
print ("Lenght of words after adding X_train_df question 2 {}".format(len(words_list)))
words_list = create_vocabulary(words_list,X_valid_df,'question1')
print ("Lenght of words after adding X_valid_df question 1 {}".format(len(words_list)))
words_list = create_vocabulary(words_list,X_valid_df,'question2')
print ("Lenght of words after adding X_valid_df question 2 {}".format(len(words_list)))
words_list = create_vocabulary(words_list,X_test_df,'question1')
print ("Lenght of words after adding X_test_df question 1 {}".format(len(words_list)))
words_list = create_vocabulary(words_list,X_test_df,'question2')
print ("Lenght of words after adding X_test_df question 2 {}".format(len(words_list)))

Lenght of words in X_train_df question 1 3143028
Lenght of words after adding X_train_df question 2 6358368
Lenght of words after adding X_valid_df question 1 7705257
Lenght of words after adding X_valid_df question 2 9080346
Lenght of words after adding X_test_df question 1 48938305
Lenght of words after adding X_test_df question 2 88928769

In [77]:
print (len(set(words_list)))
print (words_list[0:10])
words_freq = collections.Counter(words_list)
words_freq.most_common(10)
words_freq_10000 = words_freq.most_common(10000)


word_in_word2vec = []
word_notin_word2vec = []

for word in words_freq.most_common(10000):
    if word[0] in model.vocab:
        word_in_word2vec.append(word[0])
    else:
        word_notin_word2vec.append(word[0])
        
print (len(word_in_word2vec))
print (len(word_notin_word2vec))

131743
['how', 'is', 'the', 'working', 'environment', 'at', 'sbi', 'life', 'mumbai', 'how']
9206
794

In [79]:
print (word_notin_word2vec[0:100])

['a', 'to', 'of', 'and', '-', 'quora', '2016', '10', 'instagram', '500', '1000', 'whatsapp', '2017', '2015', 'snapchat', '20', ':', '12', '100', '000', '15', '30', '50', 'jio', '12th', 'sbi', '16', '11', 'brexit', '!', '18', 'upsc', 'ece', '13', 'tcs', 'narendra', 'better:', '2014', '25', '17', '14', '70', 'mbbs', 'manipal', '2000', 'gmat', '40', 'iim', '24', 'btech', 'cgpa', '200', 'iiit', 'cgl', '10th', 'obc', 'redmi', 'favourite', '90', '60', 'iits', '21', 'pilani', 'aiims', 'centre', 'mightn', '80', 'flipkart', 'mustn', 'xiaomi', '19', 'travelling', 'ielts', '22', '300', 'india:', 'bba', 'colour', 'ibps', '23', 'ps4', '2013', 'mtech', 'accenture', 'x^2', 'paytm', '25000', 'elon', 'hadoop', 'kohli', 'srm', 'kejriwal', 'bitsat', 'spotify', '11th', 'grey', "'", '32', 'ncr', 'virat']

# Keras Implementation

In [80]:
words_to_index = {}
index_to_words = {}

i = 0
for word in set(words_list):
    words_to_index[word] = i
    i = i + 1
    
j=0
for word in set(words_list):
    index_to_words[j] = word
    j=j+1

In [95]:
print (words_to_index['the'])
print (len(words_to_index))
print (index_to_words[104295])
print (index_to_words[0])

104295
131743
the
offical

In [86]:
def word_2_integer(wordslist):
    question2integer = []
    for word in wordslist:
        question2integer.append(words_to_index[word])

    return question2integer

word_2_integer(['what', 'is', 'the', 'story', 'of', 'kohinoor'])

[19780, 69984, 104295, 12947, 38557, 71100]

In [88]:
X_train_df['question1'] = X_train_df['question1'].apply(lambda x:word_2_integer(x))

In [89]:
X_train_df['question2'] = X_train_df['question2'].apply(lambda x:word_2_integer(x))
X_valid_df['question1'] = X_valid_df['question1'].apply(lambda x:word_2_integer(x))
X_valid_df['question2'] = X_valid_df['question2'].apply(lambda x:word_2_integer(x))
X_test_df['question1'] = X_test_df['question1'].apply(lambda x:word_2_integer(x))
X_test_df['question2'] = X_test_df['question2'].apply(lambda x:word_2_integer(x))

In [90]:
X_train_df['question1'].head(5)

0    [31586, 69984, 104295, 57112, 55384, 21628, 63...
1    [31586, 126908, 23532, 84451, 69988, 115658, 9...
2    [19780, 50711, 104295, 116401, 38557, 117493, ...
3    [31586, 19743, 104295, 49658, 18288, 38557, 22...
4    [69984, 104295, 1542, 29811, 72084, 47147, 416...
Name: question1, dtype: object

In [93]:
import numpy as np
embed_length = 300
embed_matrix = np.random.randn(len(words_to_index)+1,embed_length)
# To ignore padding
embeddings[0] = 0

In [94]:
print (embed_matrix.shape)

(131744, 300)

In [ ]:
y_train.shape

In [ ]:
preprocess_baseline_text(X_train['question1'][0])

In [ ]:
X_test_df.head(5)

In [ ]:
X_train_df.head(5)

In [ ]:
# re.sub(r"[^A-Za-z0-9,!.\/'+-=]", " ", 'why am i mentally very lonely? how can i solve')

In [ ]:
# re.sub(r"\'s", " ", 'what\'s')

In [ ]:
# words_list = []
# # train_subset_df = train_df['question1'][0:10]
# train_subset_df['question1'] = pd.DataFrame(data=train_df['question1'][0:10], columns=['question1'])
# train_subset_df['question2'] = pd.DataFrame(data=train_df['question2'][0:10], columns=['question2'])

In [ ]:
# for sentence in train_subset_df['question1']:
#     for word in sentence:
#         words_list.append(word)
# print (len(set(words_list)))

## Feature based on how many words are common in question 1 and question 2

In [ ]:
# u.termfrequency(['What is the step by step guide to invest in share market in india?'], ['What is the step by step guide to invest in share market?'])

In [ ]:
def termfrequency(sentence1, sentence2):
   
    question_dict ={}
    sentence1_words = sentence1   
    sentence2_words = sentence2
    searchtermfreq = []
    i = 0
    
    for key in sentence1_words:
#         print (key)
        question_dict[key] = question_dict.get(key,0) + 1
    
    for key in set(sentence2_words):
        value =  question_dict.get(key,0)
        if value >= 1:
            value = 1
        searchtermfreq.append(value)
        
    
#     print (question_dict)
#     print (searchtermfreq)
#     print (sum(searchtermfreq))
    return sum(searchtermfreq)

termfrequency(['what', 'is', 'the', 'step', 'by', 'step', 'guide', 'to', 'invest', 'in', 'share', 'market', 'in', 'india?'], ['what', 'is', 'the', 'step', 'by', 'step', 'guide', 'to', 'invest', 'in', 'share', 'market?'])

In [ ]:
X_train_df['common_term_freq'] = X_train_df.apply(lambda x: termfrequency(x['question1'],x['question2']), axis=1 )

In [ ]:
X_train_df.head(10)

In [ ]:
X_valid_df['common_term_freq'] = X_valid_df.apply(lambda x: termfrequency(x['question1'],x['question2']), axis=1 )

In [ ]:
X_valid_df.head(10)

# Total words frequency

In [ ]:
def total_words_freq(sentence):
    return len(sentence)

In [ ]:
total_words_freq(['what', 'is', 'the', 'step', 'by', 'step', 'guide', 'to', 'invest', 'in', 'share', 'market', 'in', 'india?'])

In [ ]:
X_train_df['question1_words_freq'] = X_train_df['question1'].map(lambda x: total_words_freq(x))

In [ ]:
X_train_df['question2_words_freq'] = X_train_df['question2'].map(lambda x: total_words_freq(x))

In [ ]:
X_train_df.head(5)

In [ ]:
X_valid_df['question1_words_freq'] = X_valid_df['question1'].map(lambda x: total_words_freq(x))

In [ ]:
X_valid_df['question2_words_freq'] = X_valid_df['question2'].map(lambda x: total_words_freq(x))

In [ ]:
X_valid_df.head(5)

In [ ]:
X_train_model_input = X_train_df.drop(['question1','question2'],axis =1)

In [ ]:
X_valid_model_input = X_valid_df.drop(['question1','question2'],axis =1)

In [ ]:
X_train_model_input.head(3)

# Baseline Model

In [ ]:

# Train a model# Train  
import time

def train_classifier(clf, X_train, y_train):
    print ("Training {}...".format(clf.__class__.__name__))
    start = time.time()
    clf.fit(X_train, y_train)
    end = time.time()
    print ("Done!\nTraining time (secs): {:.3f}".format(end - start))

In [ ]:
from sklearn.linear_model import LogisticRegression

clf =  LogisticRegression()

In [ ]:
train_classifier(clf, X_train_model_input, y_train.values.ravel())

In [ ]:
from sklearn.metrics import log_loss
from sklearn.metrics import confusion_matrix

def predict_labels(clf, X_train, y_train):
    print ("Predicting labels using {}...".format(clf.__class__.__name__))
    start = time.time()
    y_pred = clf.predict(X_train)
    end = time.time()
    print ("Done!\nPrediction time (secs): {:.3f}".format(end - start))
    return log_loss(y_train, y_pred, eps=1e-15), confusion_matrix(y_train, y_pred)

train_metrics = predict_labels(clf, X_train_model_input, y_train.values.ravel())

print 
print ("Log loss for training set: {}".format(train_metrics[0]))

print ("Confusion matrix for training set: {}".format(train_metrics[1]))

In [ ]:
# Predict on test data
print ("Log loss for validation set: {}".format(predict_labels(clf, X_valid_model_input, y_valid.values.ravel())[0]))

In [ ]:

print ("Confusion matrix for validation set: {}".format(predict_labels(clf, X_valid_model_input, y_valid.values.ravel())[1]))

# Text Preprocessing

In [ ]:
result = model.most_similar(positive=['woman', 'king'], negative=['man'], topn=1)
print(result)

In [ ]:
words_list = create_vocabulary([],X_train_df,'question1')
print ("Lenght of words in X_train_df question 1 {}".format(len(words_list)))
words_list = create_vocabulary(words_list,X_train_df,'question2')
print ("Lenght of words after adding X_train_df question 2 {}".format(len(words_list)))
words_list = create_vocabulary(words_list,X_valid_df,'question1')
print ("Lenght of words after adding X_valid_df question 1 {}".format(len(words_list)))
words_list = create_vocabulary(words_list,X_valid_df,'question2')
print ("Lenght of words after adding X_valid_df question 2 {}".format(len(words_list)))
words_list = create_vocabulary(words_list,X_test_df,'question1')
print ("Lenght of words after adding X_test_df question 1 {}".format(len(words_list)))
words_list = create_vocabulary(words_list,X_test_df,'question2')
print ("Lenght of words after adding X_test_df question 2 {}".format(len(words_list)))

In [ ]:

def preprocess_text(list_words):
     list_words_processed = []
     for text in list_words:
         text = re.sub(r"\?", '', text)
         text = re.sub(r"i'm", "i am ", text)
#          print (text)
         list_words_processed.append(str(text))
#          print (list_words_processed)
     return list_words_processed

In [ ]:
preprocess_text(['India?'])

In [ ]:
preprocess_text(['how',
 'do',
 'the',
 'holy',
 'scriptures',
 'of',
 'hinduism',
 'compare',
 'and',
 'contrast',
 'to',
 'those',
 'of',
 'taoism?'])

In [ ]:
X_train_df['question1'][3]

In [ ]:
preprocess_text(X_train_df['question1'][3])

In [ ]:
X_train_p_df = pd.DataFrame()
X_valid_p_df = pd.DataFrame()
X_test_p_df = pd.DataFrame()

In [ ]:
X_train_p_df['question1'] = X_train_df['question1'].apply(lambda x:preprocess_text(x))
X_train_p_df['question2'] = X_train_df['question2'].apply(lambda x:preprocess_text(x))
X_valid_p_df['question1'] = X_valid_df['question1'].apply(lambda x:preprocess_text(x))
X_valid_p_df['question2'] = X_valid_df['question2'].apply(lambda x:preprocess_text(x))
X_test_p_df['question1'] = X_test_df['question1'].apply(lambda x:preprocess_text(x))
X_test_p_df['question2'] = X_test_df['question2'].apply(lambda x:preprocess_text(x))

In [ ]:
X_train_p_df['question1'][2]

In [ ]:
proc_words_list = create_vocabulary([],X_train_p_df,'question1')
print ("Lenght of words in X_train_df question 1 {}".format(len(words_list)))
proc_words_list = create_vocabulary(words_list,X_train_p_df,'question2')
print ("Lenght of words after adding X_train_df question 2 {}".format(len(words_list)))
proc_words_list = create_vocabulary(words_list,X_valid_p_df,'question1')
print ("Lenght of words after adding X_valid_df question 1 {}".format(len(words_list)))
proc_words_list = create_vocabulary(words_list,X_valid_p_df,'question2')
print ("Lenght of words after adding X_valid_df question 2 {}".format(len(words_list)))
proc_words_list = create_vocabulary(words_list,X_test_p_df,'question1')
print ("Lenght of words after adding X_test_df question 1 {}".format(len(words_list)))
proc_words_list = create_vocabulary(words_list,X_test_p_df,'question2')
print ("Lenght of words after adding X_test_df question 2 {}".format(len(words_list)))

In [ ]:
proc_words_freq = collections.Counter(proc_words_list)

In [ ]:
proc_words_freq_10000 = proc_words_freq.most_common(10000)

In [ ]:
proc_word_in_word2vec = []
proc_word_notin_word2vec = []

for word in proc_words_freq.most_common(10000):
    if word[0] in model.vocab:
        proc_word_in_word2vec.append(word[0])
    else:
        proc_word_notin_word2vec.append(word[0])

In [ ]:
print (len(proc_word_in_word2vec))
print (len(proc_word_notin_word2vec))
print (proc_word_notin_word2vec[0:100])

In [ ]:
print (proc_word_in_word2vec[0:100])

# Pipeline

# Keras

## Create Vocabulary

In [ ]:
#